body{
	font-family: Arial;
}





nav{
	width: 100%;
	height: 60px;
	background: #344051;
 }

 .logo{
	color: #fff;
 	font-size: 28px;
 	line-height: 60px;
 	padding-left: 20%;
 	float: left;
 }

 .menu{
	float: left;
	padding-left: 12%;
 }

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main {
	width: 100%;
	height: calc(100% - 60px);
	background: url(https://sergeypunyakov.github.io/rcs/img/fon.png) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 432px 0px 0px 300px;
    color: #2c384a;
    text-align: center;   
}

.title_container h1{ 
    font-size: 60px;
    font-weight: bold;  
}

.title_container h4{  
    margin-top: 40px;
    font-size: 23px;
    color: #79818d;  
}

.title_container input{
    
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 17px;
    margin: 58px 14px 0px 14px;
    
}





.main1 {
	width: 100%;
	height: 70%;
	background: #fff;
    text-align: center;
}

.title_container1{
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;    
}

.title_container1 h3 {
    margin-top: 100px;
    font-size: 34px;
	color: #263243;
    text-align: center;
}

.image {
    background-image: url(https://sergeypunyakov.github.io/rcs/img/devil.png);
    background-repeat: no-repeat;
    background-size: 74px 5px;
    content: '';
    display: block;
    margin: 32px auto 60px auto;
    height: 5px;
    width: 74px; 
}

.image1 {
    background-image: url(https://sergeypunyakov.github.io/rcs/rcs/img/foto3.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    content: '';
    display: block;
    margin: 0px auto 0px auto;
    height: 200px;
    width: 200px;     
}

.title_container1 p{  
    margin-top: 40px;
    padding: auto;
    font-size: 18px;
	color: #263243;
    margin: 25px auto 0px auto;
    width: 724px;
    text-align: left;
    word-wrap: break-word;
    position: center; 
}

 .title_container1 input{  
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(https://sergeypunyakov.github.io/img/download.png) left/cover no-repeat;
    background-size: 20px 20px;
    border-radius: 6px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 45px;
    margin: 58px 14px 0px 14px; 
}





.main2 {
    
    margin-top: 145px;
    width: 100%;
    height: calc(100% - 100px);
	background: url(https://sergeypunyakov.github.io/rcs/img/main2.png) center/cover no-repeat;
    text-align: center;
}

.title_container2{
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;    
}

.title_container2 h3 {
    margin-top: 100px;
    font-size: 34px;
	color: #263243;
    text-align: center;
}

.image2 {
    background-image: url(https://sergeypunyakov.github.io/rcs/img/devil.png);
    background-repeat: no-repeat;
    background-size: 74px 5px;
    content: '';
    display: block;
    margin: 32px auto 60px auto;
    height: 5px;
    width: 74px; 
}

.image2_1{
    background-image: url(https://sergeypunyakov.github.io/rcs/img/pc.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}

.title_container2_1{
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 25%;
}

.title_container2_1 h4{
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin: 0px auto 20px auto;
}

.title_container2_1 p{
    font-size: 14px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
