body {
	font-family: Arial;
}



nav {
	width: 100%;
	height: 60px;
	background: #344051;
 }
.logo {
	color: #fff;
 	font-size: 28px;
 	line-height: 60px;
 	padding-left: 20%;
 	float: left;
 }
.menu {
	float: left;
	padding-left: 12%;
 }
.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}



.main {
	width: 100%;
	height: calc(100% - 60px);
	background: url(https://sergeypunyakov.github.io/rcs/img/fon.png) center/cover no-repeat;
}
.title_container {
    float: left;
    margin: 432px 0px 0px 300px;
    color: #2c384a;
    text-align: center;   
}
.title_container h1 { 
    font-size: 60px;
    font-weight: bold;  
}
.title_container h4 {  
    margin-top: 40px;
    font-size: 23px;
    color: #79818d;  
}
.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 17px;
    margin: 58px 14px 0px 14px;
    
}



.main1 {
	width: 100%;
	height: 70%;
	background: #fff;
    text-align: center;
}
.title_container1 {
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;    
}
.title_container1 h3 {
    margin-top: 100px;
    font-size: 34px;
	color: #263243;
    text-align: center;
}
.image {
    background-image: url (.../img/devil.png);
    background-repeat: no-repeat;
    background-size: 74px 5px;
    content: '';
    display: block;
    margin: 32px auto 60px auto;
    height: 5px;
    width: 74px; 
}
.image1 {
    background-image: url (.../img/foto3.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    content: '';
    display: block;
    margin: 0px auto 0px auto;
    height: 200px;
    width: 200px;     
}
.title_container1 p {  
    margin-top: 40px;
    padding: auto;
    font-size: 18px;
	color: #263243;
    margin: 25px auto 0px auto;
    width: 724px;
    text-align: left;
    word-wrap: break-word;
    position: center; 
}
 .title_container1 input {  
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: url(.../img/download.png) left/cover no-repeat;
    background-size: 20px 20px;
    border-radius: 6px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 45px;
    margin: 58px 14px 0px 14px; 
}



.main2 {
    margin: 100px 0px 0px 0px;
    width: 100%;
    height: 523px;
	background: url(.../img/main2.png) center/cover no-repeat;
    text-align: center;
}
.title_container2 {
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;
    margin: auto;
    
}
.title_container2 h3 {
    margin: 70px 0px 0px 0px;
    font-size: 34px;
	color: #263243;
    text-align: center;
}
.block {
width: 250px;
height: 100%;
margin-left: 19%;
}
.image2 {
    background-image: url(.../img/devil.png);
    background-repeat: no-repeat;
    background-size: 74px 5px;
    content: '';
    display: block;
    margin: 32px auto 60px auto;
    height: 5px;
    width: 74px; 
}
.image2_1{
    background-image: url(.../img/pc.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image2_2 {
    background-image: url(.../img/development.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image2_3 {
    background-image: url(.../img/rocket.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image2_4 {
    background-image: url(.../img/shout.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.title_container2_1 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 19%;
}
.title_container2_1 h4 {
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container2_1 p {
    font-size: 14px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container2_2 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 74px;
}
.title_container2_2 h4 {
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container2_2 p {
    font-size: 14px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container2_3 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 74px;
}
.title_container2_3 h4 {
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container2_3 p {
    font-size: 14px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container2_4 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 74px;
}
.title_container2_4 h4 {
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container2_4 p {
    font-size: 14px;
	color: #2c384a;
    text-align: center;
    margin: 0px 0px 20px 0px;
    word-wrap: break-word;
    width: 200px;
}



.main3 {
    margin: 100px 0px 100px 0px;
    width: 100%;
    height: 523px;
	background: #fff;
    text-align: center;
}
.image6 {
    background-image: url(.../img/fotka@3x.png);
    background-repeat: no-repeat;
    background-size: 900px 500px;
    content: '';
    display: block;
    margin: 32px auto 60px auto;
    height: 500px;
    width: 900px; 
}
.title_container3 {
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;  
}
.title_container3 h3 {
    margin: auto;
    font-size: 34px;
	color: #263243;
    text-align: center;
}
.title_container3 .a p {
    font-size: 14px;
	color: #2c384a;
    text-align: left;
    margin: 0px auto 0px auto;
    word-wrap: break-word;
    width: 100%;
    margin-left: 23%;
    float: left;
}
.title_container3 .b p {
    font-size: 14px;
	color: #2c384a;
    text-align: left;
    margin: 0px auto 0px auto;
    width: 50%;
    margin-left: 23%;
    word-wrap: break-word;
}
.title_container3 .a h4 {
    font-size: 19px;
	color: #000;
    text-align: left;
    margin: 30px auto 10px auto;
    padding-left: 23%;
    float: left;
}
.title_container3 .b h4 {
    font-size: 19px;
	color: #000;
    text-align: left;
    margin: 30px auto 10px auto;
    padding-left: 23%;
}
.a {
    float: left;
    padding-left: 17%;
}
.b {
    padding-left: 25%;
    margin: 85px 0px 0px 9px;
}
.c {
    float: left;
    margin: 100px 0px 100px -365px;
}
.title_container3 .c input {
    height: 40px;
    text-align: center;
    border: 2px solid #63B5AE;
    background: #63B5AE ;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    padding: 0px 17px;
    margin: 0px 14px 0px 14px;
}



.main4 {
    margin: 100px 0px 100px 0px;
    width: 100%;
    height: 523px;
	background: #fff;
    text-align: center;
}
.title_container4 {
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;
}
.title_container4 h3 {
    margin: auto auto 100px auto;
    font-size: 34px;
	color: #263243;
    text-align: center;
}
.title_container4 h4{
    font-size: 19px;
	color: #000;
    text-align: left;
    margin: 30px auto 10px auto;
    padding-left: 30%;
}
.image4 {
    background-image: url(.../img/line.png);
    background-repeat: no-repeat;
    background-size: 750px 3px;
    content: '';
    display: block;
    margin: 32px auto 60px auto;
    height: 3px;
    width: 750px; 
}
.title_container4 .a4 h4{
    font-size: 19px;
	color: #000;
    text-align: left;
    margin: 30px auto 10px auto;
    padding-left: 23%;
    float: left;
}
.title_container4 .b4 h4{
    font-size: 19px;
	color: #000;
    text-align: left;
    margin: 30px auto 10px auto;
    padding-left: 23%;
}
.a4 {
    float: left;
    padding-left: 27%;
}
.b4 {
    padding-left: 60%;
    margin: 85px 0px 100px 9px;
}



.main5 {
    margin: 0px 100px 0px 0px;
    width: 100%;
    height: 523px;
	background: url(.../img/main2.png) center/cover no-repeat;
    text-align: center;
    float: left;
}
.title_container5 h3 {
    margin: 100px 0px 0px auto;
    font-size: 34px;
	color: #263243;
    text-align: center;
}
.image5_1{
    background-image: url(.../img/smile.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image5_2 {
    background-image: url(.../img/code.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image5_3 {
    background-image: url(.../img/yes.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image5_4 {
    background-image: url(.../img/trof.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.title_container5_1 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 10%;
}
.title_container5_1 h4 {
    font-size: 36px;
    font-weight:bold;
	color: #323E4F;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container5_1 p {
    font-size: 20px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container5_2 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 10%;
}
.title_container5_2 h4 {
    font-size: 36px;
    font-weight:bold;
	color: #323E4F;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container5_2 p {
    font-size: 20px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container5_3 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 10%;
}
.title_container5_3 h4 {
    font-size: 36px;
    font-weight:bold;
	color: #323E4F;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container5_3 p {
    font-size: 20px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container5_4 {
    float: left;
    font-size: 19px;
	color: #CF7500;
    text-align: center;
    margin-left: 10%;
}
.title_container5_4 h4 {
    font-size: 36px;
    font-weight:bold;
	color: #323E4F;
    text-align: center;
    margin: 0px auto 20px auto;
}
.title_container5_4 p {
    font-size: 20px;
	color: #2c384a;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}



.main6 {
    margin: 0px 100px 0px 0px;
    width: 100%;
    height: 683px;
	background: #fff;
    text-align: center;
    float: left;
}
.title_container6 h3 {
    margin: 100px 0px 0px auto;
    font-size: 34px;
	color: #263243;
    text-align: center;
}
.image3 {
    background-image: url(.../img/foto_o.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    content: '';
    display: block;
    margin: 0px auto 0px auto;
    height: 200px;
    width: 200px;     
}
.title_container6 p {  
    margin-top: 40px;
    padding: auto;
    font-size: 18px;
	color: #263243;
    margin: 25px auto 25px auto;
    width: 724px;
    text-align: center;
    word-wrap: break-word;
    position: center; 
}



.main7 {
    margin: 0px 100px 0px 0px;
    width: 100%;
    height: 880px;
	background: url(.../img/fon7.png);
    text-align: center;
    float: left;
}
.title_container7 h3 {
    margin: 100px 0px 0px auto;
    font-size: 34px;
	color: #fff;
    text-align: center;
}
.image7_1{
    background-image: url(.../img/gps.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image7_2 {
    background-image: url(.../img/mail.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.image7_3 {
    background-image: url(.../img/phone.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: '';
    display: block;
    margin: 32px auto 40px auto;
    height: 50px;
    width: 50px; 
}
.title_container7 p {  
    margin-top: 40px;
    padding: auto;
    font-size: 18px;
	color: #fff;
    margin: 25px auto 25px auto;
    width: 724px;
    text-align: center;
    word-wrap: break-word;
    position: center; 
}
.title_container7_1 {
    float: left;
    font-size: 19px;
	color: #fff;
    text-align: center;
    margin-left: 16%;
}
.title_container7_1 p {
    font-size: 20px;
	color: #fff;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container7_2 {
    float: left;
    font-size: 19px;
	color: #fff;
    text-align: center;
    margin-left: 16%;
}
.title_container7_2 p {
    font-size: 20px;
	color: #fff;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 230px;
}
.title_container7_3 {
    float: left;
    font-size: 19px;
	color: #fff;
    text-align: center;
    margin-left: 16%;
}
.title_container7_3 p {
    font-size: 20px;
	color: #fff;
    text-align: center;
    margin: 0px auto 20px auto;
    word-wrap: break-word;
    width: 200px;
}
.title_container7 .text input {  
    height: 40px;
    width: 500px;
    text-align: left;
    border: opx solid #fff;
    background: #fff;
    background-size: 50px 50px;
    border-radius: 0px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 5px;
    margin: 0px 0px 0px 300px; 
    float: left;
    
}
.title_container7 .mail input {  
    height: 40px;
    width: 500px;
    text-align: left;
    border: opx solid #fff;
    background: #fff;
    background-size: 50px 50px;
    border-radius: 0px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 5px;
    margin: 0px 0px 0px -200px; 
    
}
.title_container7 .text1 textarea {  
    height: 90px;
    width: 1080px;
    text-align: left;
    border: opx solid #fff;
    background: #fff;
    background-size: 50px 50px;
    border-radius: 0px;
    color: #6d7682;
    font-size: 16px;
    padding: 0px 5px;
    margin: 20px -10px 0px 0px; 
    
}
.title_container7 input {
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    background: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    padding: 0px 17px;
    margin: 58px 14px 0px 14px;
    
}
.title_container7 .o h3 {
    font-weight:bold;
    margin-top: 200px;
    padding: auto;
    font-size: 24px;
	color: #fff;
    margin: 250px auto 25px auto;
    width: 724px;
    text-align: center;
    word-wrap: break-word;
    position: center; 
}



.main8 {
    margin: 0px 100px 0px 0px;
    width: 100%;
    height: 300px;
	background: none;
    float: left;
}
.title_container8 iframe {
    width: 100%;
}
